{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                {{ form_start(form, {'attr': {'data-form-loading': ''}}) }}
                    {% set mpCountryAttr = {'data-mpcountry': ''} %}
                    {% set groupAttr = {'data-group': ''} %}
                    {% set countryAttr = {'data-related-country': '', 'style': 'display: none'} %}

                    {% if form.mapType.vars.value == 1 %}
                        {% set mpCountryAttr = mpCountryAttr|merge({'style': 'display: none'}) %}
                        {% set countryAttr = {'data-related-country': ''} %}
                    {% elseif form.mapType.vars.value == 2 %}
                        {% set groupAttr = groupAttr|merge({'style': 'display: none'}) %}
                        {% set countryAttr = {'data-related-country': ''} %}
                    {% else %}
                        {% set groupAttr = groupAttr|merge({'style': 'display: none'}) %}
                        {% set mpCountryAttr = mpCountryAttr|merge({'style': 'display: none'}) %}
                    {% endif %}

                    {{ form_row(form.mapType, {'attr': {'data-maptype': ''}}) }}
                    {{ form_row(form.mpCountry, {'row_attr': mpCountryAttr}) }}
                    {{ form_row(form.group, {'row_attr': groupAttr}) }}
                    {{ form_row(form.country, {'row_attr': countryAttr}) }}

                    <button type="submit" class="btn btn-primary btn-spinner">
                        {{ 'page.matrix.btn_compare'|trans }}
                        <div class="spinner-border" role="status"></div>
                    </button>

                    <p class="loading-label">{{ 'page.matrix.loading_information'|trans }}</p>
                {{ form_end(form) }}
            </div>
        </div>
        {% if matrix is defined %}
            {% set matrixSize = matrix|length %}

            {% if matrixSize == 0 %}
                <h4 class="text-center">{{ 'page.matrix.not_enough_data'|trans }}</h4>
            {% else %}
                {% set param = [] %}
                {% set queryParams = app.request.query.all %}
                {% for paramName, paramValue in queryParams %}
                    {% set param = param|merge({(paramName): (paramValue)}) %}
                {% endfor %}

                <a href="{{ path('member-heatmap-fullscreen', param) }}" target="_blank" class="btn btn-primary">{{ 'page.matrix.btn_full_page'|trans }}</a>
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="grid-container mt-3" style="width: {{ 250 + matrixSize * 30 }}px; grid-template-columns: 175px repeat({{ matrixSize }}, auto); grid-template-rows: 175px repeat({{ matrixSize }}, auto);">
                            <div class="cell cell-hide border-0"></div>
                            {% for line in matrix|first %}
                                {% set member = line.memberY %}
                                <div class="cell cell-identity cell-identity-top border-top-0">
                                    <p class="mx-auto mb-2 member-detail rotate">
                                        <span class="mb-2 dot-color" {% if member.group.color is not null%}style="background: #{{ member.group.color }};"{% endif %}></span>
                                        <span class="member-name">{{ member.lastName }}</span>
                                        <small>({{ member.group.shortLabel }})</small>
                                    </p>
                                </div>
                            {% endfor %}
                            {% for key, line in matrix %}
                                {% set newLine = true %}
                                {% for key2, el in line %}
                                    {% if newLine == true %}
                                        {% set member = el.memberX %}
                                        <div class="cell cell-identity cell-identity-left border-start-0">
                                            <p class="m-auto me-2 member-detail">
                                                <span class="member-name">{{ member.lastName }}</span>
                                                <small>({{ member.group.shortLabel }})</small>
                                                <span class="ms-2 dot-color" {% if member.group.color is not null%}style="background: #{{ member.group.color }};"{% endif %}></span>
                                            </p>
                                        </div>
                                        {% set newLine = false %}
                                    {% endif %}
                                    {% if el.rate is defined %}
                                        {% set cellClass = 'no-vote' %}
                                        {% if el.nb_vote > 0 %}
                                            {% set cellClass = 'rate-' ~ el.rate|round_down_5 %}
                                        {% endif %}
                                        <div class="cell{% if el|length == 0 %} empty{% endif %} {{ cellClass }}">
                                        <span class="fw-bold">
                                            {% if el.nb_vote == 0 %}
                                                <small>{{ 'page.matrix.no_data'|trans }}</small>
                                            {% else %}
                                                <p class="mb-0 text-center">
                                                    {{ el.rate|default(null)|round }}%
                                                    <br>
                                                    <small class="nb-vote">{{ 'global.vote_label'|trans({'nb': el.nb_vote}) }}</small>
                                                </p>
                                            {% endif %}
                                        </span>
                                        </div>
                                    {% else %}
                                        <div class="cell empty"></div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
