{% extends 'base.html.twig' %}
{% import 'common/macro/vote_value.html.twig' as voteValue %}
{% import 'common/macro/member.html.twig' as memberMacro %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow card-member-info">
                    <div class="card-body">
                        <div class="d-flex gap-3">
                            <div class="member-thumb">
                                <img loading="lazy" src="https://howtheyvote.eu/{{ member.thumb }}" class="img-fluid rounded-3" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <h2 class="h5 mb-auto">{{ member.firstName }} {{ member.lastName }}</h2>
                                <p class="m-0">{{ memberMacro.member_badge_status(member) }}</p>
                                <p class="m-0 ">Country : {{ member.country.label }}</p>
                                {% if member.group is not null %}
                                    <p class="m-0 d-flex align-items-baseline">
                                        Political Groups : {{ member.group.label }}
                                        {% if member.group.color is not null %}
                                            <span class="ms-2 political-group-dot-color"
                                                  {% if member.group.color is not null %}style="background: #{{ member.group.color }};"{% endif %}></span>
                                        {% endif %}
                                    </p>
                                {% endif %}
                                {% if member.party is not null %}
                                    <p class="m-0">Country party : {{ member.party.label }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 g-4">
            <div class="col-12 col-lg-8 order-1 order-lg-0">
                <div class="card shadow">
                    <div class="card-header py-4">
                        Votes list
                    </div>
                    <div class="card-body">
                        {{ datatable_render_table(datatable, {
                            ajax: path('member_list_vote', {'mepId': member.mepId}),
                            attributes: {
                                'class': 'datatable-vote-results'
                            }
                        }) }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-0 order-lg-1">
                <div class="card shadow">
                    <div class="card-header py-4">
                        Statistics
                    </div>
                    <div class="card-body">
                        <p>Number of votes : {{ voteResults.totalItemCount }}</p>
                        <p>Number of missed votes : {{ nbDidnotVote }} ({{ (nbDidnotVote * 100 / voteResults.totalItemCount)|round }}%)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
