{% extends 'base.html.twig' %}
{% import 'common/macro/vote_value.html.twig' as voteValue %}
{% import 'common/macro/member.html.twig' as memberMacro %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="card shadow card-member-info">
                <div class="card-body">
                    <div class="d-flex gap-3">
                        <div class="member-thumb">
                            <img loading="lazy" src="https://howtheyvote.eu/{{ member.thumb }}"
                                 class="img-fluid rounded-3" alt="">
                        </div>
                        <div class="d-flex flex-column">
                            <h2 class="h5 mb-auto">{{ member.firstName }} {{ member.lastName }}</h2>
                            <p class="m-0">{{ memberMacro.member_badge_status(member) }}</p>
                            <p class="m-0 ">{{ 'page.member_detail.country'|trans({'country': member.country.label}) }}</p>
                            {% if member.group is not null %}
                                <p class="m-0 d-flex align-items-baseline">
                                    Political Groups : {{ member.group.label }}
                                    {% if member.group.color is not null %}
                                        <span class="ms-2 dot-color"
                                              {% if member.group.color is not null %}style="background: #{{ member.group.color }};"{% endif %}></span>
                                    {% endif %}
                                </p>
                            {% endif %}
                            {% if member.party is not null %}
                                <p class="m-0">{{ 'page.member_detail.country_party'|trans({'party': member.party.label}) }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow h-100 card-member-info">
                <div class="card-body d-flex justify-content-center flex-column">
                    <p>{{ 'page.member_detail.nb_vote'|trans({'nb': voteResults.totalItemCount }) }}</p>
                    <p>
                        {{ 'page.member_detail.nb_missed_vote'|trans({
                            'nb': nbDidnotVote,
                            'rate': (nbDidnotVote * 100 / voteResults.totalItemCount)|round}) }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav class="mt-4">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                        {{ 'page.member_detail.nav.vote'|trans }}
                    </button>
                    <button class="nav-link" id="nav-absence-tab" data-bs-toggle="tab" data-bs-target="#nav-absence" type="button" role="tab" aria-controls="nav-absence" aria-selected="false">
                        {{ 'page.member_detail.nav.absence'|trans }}
                    </button>
                    <button class="nav-link" id="nav-absence-calendar-tab" data-bs-toggle="tab" data-bs-target="#nav-absence-calendar" type="button" role="tab" aria-controls="nav-absence-calendar" aria-selected="false">
                        {{ 'page.member_detail.nav.absence_calendar'|trans }}
                    </button>
                </div>
            </nav>
        </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <div class="row mt-2 g-4">
                <div class="col-12 col-lg-8 order-1 order-lg-0">
                    <div class="card shadow">
                        <div class="card-header py-4">
                            {{ 'page.member_detail.vote_list'|trans }}
                        </div>
                        <div class="card-body">
                            {{ datatable_render_table(datatable, {
                                ajax: path('member_list_vote', {'mepId': member.mepId}),
                                attributes: {
                                    'class': 'datatable-vote-results'
                                }
                            }) }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 order-0 order-lg-1">
                    <div class="card shadow">
                        <div class="card-header py-4">
                            {{ 'page.member_detail.statistics'|trans }}
                        </div>
                        <div class="card-body">
                            <p>{{ 'page.member_detail.nb_vote'|trans({'nb': voteResults.totalItemCount }) }}</p>
                            <p>
                                {{ 'page.member_detail.nb_missed_vote'|trans({
                                    'nb': nbDidnotVote,
                                    'rate': (nbDidnotVote * 100 / voteResults.totalItemCount)|round}) }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-absence" role="tabpanel" aria-labelledby="nav-absence-tab" tabindex="0">
            <article>
                <div class="bg-dark bg-dark-arrow">
                    <div class="row">
                        <div class="col-12">
                            <h2>Mp's absenteeism chart</h2>
                            <p>
                                Each point on this graph represents a vote.
                                <br>
                                Each month has two columns
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="col-auto">
                            <div class="dot-color me-3"
                                 style="background: rgb(242, 142, 44);"></div>{{ 'page.member_detail.absent'|trans }}
                        </div>
                        <div class="col-auto">
                            <div class="dot-color me-3"
                                 style="background: rgb(78, 121, 167)"></div>{{ 'page.member_detail.present'|trans }}
                        </div>
                        <div id="step" data-json="{{ absenceProgressionChart }}"></div>
                    </div>
                </div>
            </article>
        </div>
        <div class="tab-pane fade" id="nav-absence-calendar" role="tabpanel" aria-labelledby="nav-absence-calendar-tab" tabindex="0">
            <article>
                <div class="bg-dark bg-dark-arrow">
                    <div class="row">
                        <div class="col-12">
                            <h2>Mp's absenteeism calendar</h2>
                            <p>
                                If the MP is absent during a vote, he/she is noted as having been absent on that day,
                                even if he/she was present for other votes on that day.
                                <br>
                                If there is a vote on Tuesday and a vote on Thursday and the MP is absent from both,
                                he/she is recorded as being absent during 3 days: from Tuesday to Thursday.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        {{ calendar_render(calendar) }}
                    </div>
                </div>
            </article>
        </div>
    </div>

{% endblock %}
