{% for key, col in datatable.columns %}
    {% set class = '' %}

    {% set sortableColumn = attribute(datatable.sortableColumns, key)|default(false) %}
    {% if false != sortableColumn and (sortableColumn.order is same as ('asc') or sortableColumn.order is same as ('desc')) %}
        {% set class = 'order-' ~ sortableColumn.order %}
    {% endif %}

    <th class="{{ class }}">
        {% if sortableColumn %}
            <button class="btn btn-link" data-colname="{{ key }}" data-colposition="{{ loop.index0 }}">
                <span class="btn-label">{{ col.label|trans|raw }}</span>
                <span class="datatable-order-picto"></span>
            </button>
        {% else %}
            {{ col.label|trans }}
        {% endif %}
    </th>
{% endfor %}
