{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h1 class="text-center mb-5">
                    {% if country is defined %}
                        {{ 'page.absenteeism_country.title_with_country'|trans({'country': country.label}) }}
                    {% else %}
                        {{ 'page.absenteeism_country.title_without_country'|trans }}
                    {% endif %}
                </h1>
                <div class="row">
                    <div class="col-12 col-lg-6 mx-auto">
                        {{ form_start(filter) }}
                        <div class="d-flex flex-row gap-3">
                            {{ form_label(filter.country, null, {'label_attr': {'class': 'col-sm-auto'}}) }}
                            {{ form_widget(filter.country) }}
                            <button type="submit" class="btn btn-primary">{{ 'page.absenteeism_country.btn_filter'|trans }}</button>
                        </div>
                        {{ form_end(filter, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if politicalGroups|default(null) is not null %}
        <div class="container my-5">
            <div class="row">
                {% for group in politicalGroups %}
                    <div class="col-12 col-md-6 col-lg-4" style="order: {{ group.position }}">
                        <div class="d-flex gap-4">
                            <div class="color p-2 rounded-5 align-self-center" style="background-color: #{{ group.color }}"></div>
                            <p class="m-0">{{ group.label }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <article>
            <div class="bg-dark bg-dark-arrow">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <h2>Mp's absenteeism comparison</h2>
                            <p>
                                This graph shows the rate of absenteeism of Members of Parliament. Each MP is represented by a dot and the colour indicates his or her political group.
                                <br>
                                It is important to read the details of each MP carefully by clicking on the point that interests you.
                                <br>
                                It is possible that some MSPs with an absentee rate of 0% or 100% had little opportunity to vote. In the details for each MEP, you can see how many votes he or she could have cast.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background: #f6f6f7" class=py-5>
                <div class="container">
                    <div class="row">
                        <div class="tab-content mt-5" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                                <div id="beeswarm" class="dotchart w-100" data-chart-x="{{ 'global.chart.dotplot.axis'|trans }}" data-json="{{ absenceChart }}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="bg-dark bg-dark-arrow">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <h2>Mp's absenteeism anomaly</h2>
                            <p>
                                This graph shows the difference between estimated turnout and actual turnout. Each dot represents an MP and the colour of the dot represents his or her political group.
                                <br>
                                Each MP is compared with MPs with a similar number of votes.
                                <br>
                                MPs above the black line have a higher than expected turnout and those below a lower turnout.
                                <br>
                                You can zoom in on the graph to take a closer look at the individual MPs.
                                <br>
                                Detail of the calculation used for the estimate:
                                <br>
                                \[cov({x,y}) = \frac{\sum_{}(x_i - \bar{x})(y_i - \bar{y})}{N-1}\]
                                \[v = \frac{\sum_{}(x_i - \bar{x})}{N-1}\]

                                \[coef = \frac{cov({x,y})}v\]

                                Estimated number of MP votes  = Number of MP votes \(* coef\),
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background: #f6f6f7" class=py-5>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div id="dottrends" class="dotchart w-100" data-json="{{ absenceTrendChart }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="bg-dark bg-dark-arrow">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <h2>Absenteeism by group</h2>
                            <p>
                                This graph shows the rate of absenteeism for each political group as well as the average absenteeism for each group.
                                <br>
                                The dots are interactive and each one provides information about the MP.
                                <br>
                                Please note that this is a logarithmic scale.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background: #f6f6f7" class=py-5>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div id="dot-average-category" class="dotchart w-100" data-json="{{ politicalGroupAbsenceChart }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="bg-dark bg-dark-arrow">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <h2>Mp's absenteeism timeline</h2>
                            <p>
                                This timeline shows all the days on which Members are absent.
                                <br>
                                If the Member is absent for a vote, he is recorded as having been absent on that day, even if he was present for other votes that day.
                                <br>
                                If there is a vote on Tuesday and a vote on Thursday and the member is absent from both, he or she is recorded as having been absent for 3 days: from Tuesday to Thursday.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-5">
                <div class="row mt-2">
                    <div class="col-12">
                        {{ gantt_render(ganttAbsence) }}
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12">
                        <h2>All MP's details data</h2>

                        {{ datatable_render_table(absenceDatatable, {
                            sourceData: absencePredictionDatatable,
                            attributes: {
                                'class': 'datatable-absence-prediction'
                            }
                        }) }}
                    </div>
                </div>
            </div>
        </article>
    {% endif %}
{% endblock %}
