{% extends 'base.html.twig' %}
{% import 'common/macro/vote_value.html.twig' as voteValue %}

{% block body %}
    <div class="container">
        <div class="col-12 text-center">
            <h2 class="h5 mb-5">{{ 'global.last_vote_date'|trans({'start': lastSession.startAt|date('M d'), 'to': lastSession.endAt|date('M d')}) }}</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% if form is defined %}
                <input type="hidden" data-members-detail="{{ members_tom_select() }}">
                {{ form_start(form) }}
                    {{ form_row(form.mainMember, {'attr': {'data-custom-provider': 'data-members-detail'}}) }}
                    {{ form_row(form.member, {'attr': {'data-custom-provider': 'data-members-detail'}}) }}
                    {{ form_row(form.members, {'attr': {'data-custom-provider': 'data-members-detail'}}) }}
                    {{ form_row(form.voteValue) }}
                    <button type="submit" class="btn btn-primary">{{ 'global.search'|trans }}</button>
                {{ form_end(form) }}
            {% endif %}
        </div>

        {% if data is defined %}
            <div class="row mt-5">
                {% for key, comparison in data %}
                    <div class="col-xl mt-5">
                        <div class="text-center">
                            <h4>{{ comparison.member.firstName }} {{ comparison.member.lastName }} <br> {{ comparison.memberCompared.firstName }} {{ comparison.memberCompared.lastName }}</h4>
                            {{ 'page.member_comparison.similar_vote_rate'|trans({'rate': comparison.data.rate.same|round(2), 'nb': comparison.data.total}) }}
                        </div>
                        <div class="my-5 mx-auto member-comparison-chart" data-chart-type="doughnut" data-value="{{ comparison.data|chart_pie_this }}" data-title="{{ 'global.vote_label'|trans({'nb': comparison.data.total}) }}"></div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12">
                    {% for key, comparison in data %}
                        <div class="accordion accordion-transparent mt-4" id="{{ key }}vote-detail-accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ key }}-different-vote-detail" aria-expanded="false" aria-controls="{{ key }}-vote-detail">
                                        {{ 'page.member_comparison.member_compared_to_member'|trans({
                                            'member_1': comparison.member.firstName ~ ' ' ~ comparison.member.lastName,
                                            'member_2': comparison.memberCompared.firstName ~ ' ' ~ comparison.memberCompared.lastName
                                        }) }}
                                    </button>
                                </h2>
                                <div id="{{ key }}-different-vote-detail" class="accordion-collapse collapse" data-bs-parent="#{{ key }}vote-detail-accordion">
                                    <div class="accordion-body px-0">
                                        <div class="card shadow">
                                            <div class="card-body">
                                                {{ datatable_render_table(datatable, {
                                                    sourceData: comparison.normalizedData,
                                                    attributes: {
                                                        'data-datatable-name': 'mytable',
                                                        'data-custom-row-builder': '',
                                                        'class': 'datatable-vote-results'
                                                    }
                                                }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
