<p class="datatable-vote-results-detail mb-0">
    <span>{{ 'vote_list.title'|trans }}</span><span>{{ resource.title }}</span>
    <span>{{ 'vote_list.ref'|trans }}</span><span>{{ resource.reference }}</span>
    <span>{{ 'vote_list.date'|trans }} </span><small>{{ resource.voteDate|date('Y-m-d') }}</small>
</p>
