<p class="datatable-vote-results-detail mb-0">
    <span>{{ 'global.vote.title'|trans }}</span><span>{{ resource.title }}</span>
    <span>{{ 'global.vote.ref'|trans }}</span><span>{{ resource.reference }}</span>
    <span>{{ 'global.vote.date'|trans }} </span><small>{{ resource.voteDate|date('Y-m-d') }}</small>
</p>
