<p class="datatable-vote-results-detail mb-0">
    <span>{{ 'vote.title'|trans }}</span><span>{{ resource.vote.title }}</span>
    <span>{{ 'vote.ref'|trans }}</span><span>{{ resource.vote.reference }}</span>
    <span>{{ 'vote.date'|trans }} </span><small>{{ resource.vote.voteDate|date('Y-m-d') }}</small>
</p>
