<nav class="navbar navbar-expand mb-4">
    <div class="container">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <a class="navbar-brand d-flex" href="{{ path('hp') }}">
                    <h1 class="h4 m-0">CompareTheirVotes</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Statistics
                            </button>
                            <ul class="dropdown-menu fade-up">
                                <li><a class="dropdown-item" href="{{ path('member-to-member') }}">MP comparison</a></li>
                                <li><a class="dropdown-item" href="{{ path('member-map') }}">MP correlation matrix</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link" href="{{ path('member_list') }}">MPs</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link" href="{{ path('groups') }}">Political Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link" href="{{ path('faq') }}">About & FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
