<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CompareTheirVotes.eu{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ 'meta.description'|trans }}"/>
        <link rel="icon" href="{{ asset('images/fav.webp') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            {{ include('_header.html.twig') }}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        {{ include('_footer.html.twig') }}
    </body>
</html>
