{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-12 text-center">
            <h1>{{ 'hp_title'|trans }}</h1>
            <h5 class="mb-5">{{ 'hp_last_vote'|trans({'start': lastSession.startAt|date('M d'), 'to': lastSession.endAt|date('M d Y')}) }}</h5>
        </div>
        <div class="col-12">
            <h4 class="text-center">{{ 'comparison_subtitle'|trans }}</h4>
            <div class="row mt-5">
                <div class="col-12 col-lg-6">
                    <p>
                        {{ 'comparison_donuts.text_1'|trans }}
                        <br>
                        <b>
                            {{ 'comparison_donuts.text_2'|trans }}
                        </b>
                    </p>
                    <a href="{{ path('member-to-member') }}" class="btn btn-sm btn-primary">{{ 'try_it'|trans}} &rarr;</a>
                    <div style="width: 300px;height: 300px" class="my-5 mx-auto" data-chart-type="doughnut" data-value="{&quot;dataset&quot;:[{&quot;category&quot;:&quot;Same vote&quot;,&quot;value&quot;:263},{&quot;category&quot;:&quot;Different vote&quot;,&quot;value&quot;:38}]}" data-title="301 votes"></div>
                </div>
                <div class="col-12 col-lg-6">
                    <p>
                        {{ 'comparison_matrix_correlation.text_1'|trans }}
                        <br>
                        <b>
                            {{ 'comparison_matrix_correlation.text_2'|trans }}
                        </b>
                    </p>
                    <a href="{{ path('member-map') }}" class="btn btn-sm btn-primary">{{ 'try_it'|trans}} &rarr;</a>

                    {% set matrixSize = matrix|length %}
                    <div class="grid-container hp-grid-container" style="grid-template-columns: 90px repeat({{ matrixSize }}, auto); grid-template-rows: 90px repeat({{ matrixSize }}, auto);">
                        <div class="cell border-0" style="position: sticky; top: 0"></div>
                        {% for key, line in matrix %}
                            <div class="cell cell-identity border-top-0 d-flex" style="position: sticky; top: -20px; background: #fff; z-index: 10000">
                                <p class="mx-auto mb-2 member-detail rotate">
                                    <span class="member-name">{{ key }}</span>
                                </p>
                            </div>
                        {% endfor %}
                        {% for key, line in matrix %}
                            {% set newLine = true %}
                            {% for el in line %}
                                {% if newLine == true %}
                                    <div class="cell cell-identity d-flex border-start-0" style="position: sticky; left: -20px; background: #fff">
                                        <p class="m-auto me-2 member-detail">
                                            <span class="member-name">{{ key }}</span>
                                        </p>
                                    </div>
                                    {% set newLine = false %}
                                {% endif %}
                                {% if el.rate is defined %}
                                    {% set cellClass = 'no-vote' %}
                                    {% if el.nb_vote > 0 %}
                                        {% set cellClass = 'rate-' ~ el.rate|default(null)|round(-1) %}
                                    {% endif %}
                                    <div class="cell{% if el|length == 0 %} empty{% endif %} {{ cellClass }}">
                                        <span class="fw-bold">{{ el.rate|default(null)|round }}%</span>
                                    </div>
                                {% else %}
                                    <div class="cell empty"></div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
