{% extends 'base.html.twig' %}
{% import 'common/macro/vote_value_translation.html.twig' as translation %}
{% import 'common/macro/vote_value.html.twig' as voteValue %}

{% block body %}
    <div class="container">
        <div class="col-12 text-center">
            <h1>{{ 'hp_title'|trans }}</h1>
            <h2 class="h5 my-5">{{ 'hp_last_vote'|trans({'start': lastSession.startAt|date('M d'), 'to': lastSession.endAt|date('M d')}) }}</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% if form is defined %}
                <input type="hidden" data-members-detail="{{ members_tom_select() }}">
                {{ form_start(form) }}
                {{ form_row(form.mainMember) }}
                {{ form_row(form.member) }}
                {{ form_row(form.members) }}
                {{ form_row(form.voteValue) }}
                <button type="submit" class="btn btn-primary">{{ 'search'|trans }}</button>
                {{ form_end(form) }}
            {% endif %}
        </div>
        {% if data is defined %}
            <div class="row mt-5">
                {% for key, comparison in data %}
                    <div class="col-xl mt-5">
                        <div class="text-center">
                            <h4>{{ comparison.member.firstName }} {{ comparison.member.lastName }} <br> {{ comparison.memberCompared.firstName }} {{ comparison.memberCompared.lastName }}</h4>
                            {{ 'similar_vote_rate'|trans({'rate': comparison.data.rate.same|round(2), 'nb': comparison.data.total}) }}
                        </div>
                        <div style="width: 400px;height: 400px" class="my-5 mx-auto" data-chart-type="doughnut" data-value="{{ comparison.data|chart_pie_this }}" data-title="{{ 'vote_label'|trans({'nb': comparison.data.total}) }}"></div>
                        <div class="accordion accordion-transparent mt-4" id="{{ key }}vote-detail-accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ key }}-different-vote-detail" aria-expanded="false" aria-controls="{{ key }}-vote-detail">
                                        {{ 'list_difference_vote'|trans }}
                                    </button>
                                </h2>
                                <div id="{{ key }}-different-vote-detail" class="accordion-collapse collapse" data-bs-parent="#{{ key }}vote-detail-accordion">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            {% for memberVote in comparison.data.difference_detail %}
                                                <li class="list-group-item p-0">
                                                    <p class="mt-4">
                                                        <span>{{ 'vote.title'|trans }}: {{ memberVote.voteItem.vote.title }}</span><br />
                                                        <small class="text-muted">{{ 'vote.ref'|trans }}: {{ memberVote.voteItem.vote.reference }}</small><br>
                                                        <small class="text-muted">{{ 'vote.description'|trans }} {{ memberVote.voteItem.vote.description }}</small>
                                                    </p>
                                                    <p class="d-flex justify-content-between">
                                                        <span>{{ comparison.member.firstName }} {{ comparison.member.lastName }}</span>
                                                        <span class="badge bg-primary">{{ translation.vote_value_translation(memberVote.mainMemberVoteValue) }}</span>
                                                    </p>
                                                    <p class="d-flex justify-content-between">
                                                        <span>{{ comparison.memberCompared.firstName }} {{ comparison.memberCompared.lastName }}</span>
                                                        <span class="badge bg-danger">{{ translation.vote_value_translation(memberVote.comparedMemberVoteValue) }}</span>
                                                    </p>
                                                    <p>
                                                        <span>{{ comparison.member.group.label }} ({{ comparison.member.firstName }} {{ comparison.member.lastName }})</span>
                                                        {{ voteValue.vote_value_bar_chart(memberVote.mainMemberPoliticalGroupVoteValue.stats) }}
                                                    </p>
                                                    <p>
                                                        <span>{{ comparison.memberCompared.group.label }} ({{ comparison.memberCompared.firstName }} {{ comparison.memberCompared.lastName }})</span>
                                                        {{ voteValue.vote_value_bar_chart(memberVote.comparedPoliticalGroupVoteValue.stats) }}
                                                    </p>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ key }}-same-vote-detail" aria-expanded="false" aria-controls="{{ key }}-vote-detail">
                                        {{ 'list_same_vote'|trans }}
                                    </button>
                                </h2>
                                <div id="{{ key }}-same-vote-detail" class="accordion-collapse collapse" data-bs-parent="#{{ key }}vote-detail-accordion">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            {% for memberVote in comparison.data.same_detail %}
                                                <li class="list-group-item p-0">
                                                    <p class="my-4">
                                                        <span>{{ 'vote.title'|trans }}: {{ memberVote.voteItem.vote.title }}</span><br />
                                                        <small class="text-muted">{{ 'vote.ref'|trans }}: {{ memberVote.voteItem.vote.reference }}</small><br>
                                                        <small class="text-muted">{{ 'vote.description'|trans }}: {{ memberVote.voteItem.vote.description }}</small>
                                                    </p>
                                                    <p>
                                                        <span>{{ comparison.member.group.label }} ({{ comparison.member.firstName }} {{ comparison.member.lastName }})</span>
                                                        {{ voteValue.vote_value_bar_chart(memberVote.mainMemberPoliticalGroupVoteValue.stats) }}
                                                    </p>
                                                    <p>
                                                        <span>{{ comparison.memberCompared.group.label }} ({{ comparison.memberCompared.firstName }} {{ comparison.memberCompared.lastName }})</span>
                                                        {{ voteValue.vote_value_bar_chart(memberVote.comparedPoliticalGroupVoteValue.stats) }}
                                                    </p>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
{% endblock %}
