{% extends 'base.html.twig' %}
{% import 'common/macro/icon.html.twig' as icon %}

{% block body %}
    <div class="container">
        <div class="col-12 text-center">
            <h1>{{ 'page.hp.title'|trans }}</h1>
            <h5 class="mb-5">{{ 'global.last_vote_date'|trans({'start': lastSession.startAt|date('M d'), 'to': lastSession.endAt|date('M d Y')}) }}</h5>
        </div>
    </div>

    <section class="presentation-section my-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex justify-content-end" data-aos="fade-right">
                    <img src="{{ asset('build/images/hp/deal.webp') }}" alt="" style="max-width: 400px" class="pe-5">
                </div>
                <div class="col-12 col-lg-6" data-aos="fade-left">
                    <h2 class="h4">{{ 'page.hp.vote_comparator.title'|trans }}</h2>
                    <div class="d-flex gap-3">
                        <div>{{ icon.pie() }}</div>
                        <p>
                            {{ 'page.hp.vote_comparator.block_1.title'|trans }} <br>
                            <span class="text-muted">
                                {{ 'page.hp.vote_comparator.block_1.desc'|trans }}
                            </span>
                        </p>
                    </div>
                    <a href="{{ path('member-to-member') }}" class="btn btn-primary mt-4">{{ 'page.hp.vote_comparator.btn'|trans }}</a>
                </div>
            </div>
        </div>
    </section>

    <section class="presentation-section pt-9 mb-10 bg-light-gradient">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex justify-content-end" data-aos="fade-right">
                    <img src="{{ asset('build/images/hp/matrix.webp') }}" alt="" style="max-width: 500px; height: auto; object-fit: contain" class="pe-5">
                </div>
                <div class="col-12 col-lg-6" data-aos="fade-left">
                    <h2 class="h4">{{ 'page.hp.matrix.title'|trans }}</h2>
                    <p class="text-muted">{{ 'page.hp.matrix.sub_title'|trans }}</p>
                    <div class="d-flex gap-3 mt-4">
                        <div>{{ icon.heatmap() }}</div>
                        <p>
                            {{ 'page.hp.matrix.block_1.title'|trans }} <br>
                            <span class="text-muted">
                                {{ 'page.hp.matrix.block_1.desc'|trans }}
                            </span>
                        </p>
                    </div>
                    <div class="d-flex gap-3 mt-3">
                        <div>{{ icon.filter() }}</div>
                        <div>
                            {{ 'page.hp.matrix.block_2.title'|trans }}
                            <p class="text-muted">
                                {{ 'page.hp.matrix.block_2.desc'|trans }}
                            </p>
                        </div>
                    </div>
                    <a href="{{ path('member-map') }}" class="btn btn-primary mt-4">{{ 'page.hp.matrix.btn'|trans }}</a>
                </div>
            </div>
        </div>
    </section>

    <section class="presentation-section my-10">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex justify-content-end" data-aos="fade-right">
                    <img src="{{ asset('build/images/hp/map.webp') }}" alt="" style="max-width: 500px; height: auto; object-fit: contain" class="pe-5">
                </div>
                <div class="col-12 col-lg-6" data-aos="fade-left">
                    <h2 class="h4">{{ 'page.hp.absenteeism.title'|trans }}</h2>
                    <div class="d-flex gap-3 mt-4">
                        <div>{{ icon.europe() }}</div>
                        <p>
                            {{ 'page.hp.absenteeism.block_1.title'|trans }}<br>
                            <span class="text-muted">
                                {{ 'page.hp.absenteeism.block_1.desc'|trans }}
                            </span>
                        </p>
                    </div>
                    <a href="{{ path('absenteeism_overview') }}" class="btn btn-primary mt-4">{{ 'page.hp.absenteeism.btn'|trans }}</a>
                </div>
            </div>
        </div>
    </section>

    <section class="presentation-section my-10">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex justify-content-end" data-aos="fade-right">
                    <img src="{{ asset('build/images/hp/dotaverage.webp') }}" alt="" style="" class="pe-5">
                </div>
                <div class="col-12 col-lg-6" data-aos="fade-left">
                    <h2 class="h4">{{ 'page.hp.absenteeism_detail.title'|trans }}</h2>
                    <div class="d-flex gap-3 mt-4">
                        <div>{{ icon.dotchart() }}</div>
                        <p>
                            {{ 'page.hp.absenteeism_detail.block_1.title'|trans }}<br>
                            <span class="text-muted">
                                {{ 'page.hp.absenteeism_detail.block_1.desc'|trans }}
                            </span>
                        </p>
                    </div>
                    <div class="d-flex gap-3 mt-4">
                        <div>{{ icon.table() }}</div>
                        <p>{{ 'page.hp.absenteeism_detail.block_2.title'|trans }}</p>
                    </div>
                    <a href="{{ path('absenteeism_country') }}" class="btn btn-primary mt-4">{{ 'page.hp.absenteeism_detail.btn'|trans }}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
